@import 'colors';
@import 'mixins';

/* General */
html {
    scroll-behavior: smooth;

}

html,
body {
    margin: 0;
    padding: 0;
    font: 110% sans-serif;
    background-color: #d1d5db;
}

/* Navbar */
nav {
    width: 100%;
    background-color: rgb(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    font-size: 22px;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 10;

    >div {
        height: 100%;
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo {
        padding: 0 16px;

        a {
            text-decoration: none;
            color: white;
            font-size: 25px;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: right;

        a {
            display: block;
            color: white;
            text-align: center;
            padding: 0 16px;
            text-decoration: none;
            transition: 0.5s;

            @include mx-width-650 {
                position: absolute;
                top: -100px;
            }
        }

        a:hover {
            color: $primary-color;
        }
    }

    #menu {
        position: absolute;
        top: -100px;
        background-image: url("https://www.paplyclaw.com/static/img/expand-menu.1493e33fc9d0.png");
        z-index: 12;
        width: 27px;
        background-size: cover;
        margin-top: 0;

        @include mx-width-650 {
            position: static;
            top: 0;
            margin-right: 16px;
        }
    }
}


/* Home */
#home {
    min-height: 100vh;
    background-image: url("https://pablove2001.com/assets/bg-home.029cc0f1.webp");
    background-attachment: fixed;
    display: flex;
    align-items: center;
    font-size: 40px;
    text-align: center;
    color: white;

    @include mx-width-580 {
        font-size: 33px;
    }

    img {
        width: 100%;
        height: 100%;
    }

    span {
        color: $primary-color;
    }

    >div {
        background-color: rgb(0, 0, 0, 0.6);
        backdrop-filter: blur(10px);
        height: 260px;
        width: 680px;
        border-radius: 25px;
        margin: 16px auto;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        @include mx-width-760 {
            display: block;
            height: 480px;
            width: 340px;
        }

        @include mx-width-580 {
            display: block;
            height: 420px;
            width: 280px;
        }

        >div:nth-child(1) {
            height: 100%;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid white;

            @include mx-width-760 {
                width: 300px;
                height: 300px;
                border-radius: 50%;
                overflow: hidden;
                border: 2px solid white;
                margin: 0 auto;
            }

            @include mx-width-580 {
                width: 270px;
                height: 270px;
                border-radius: 50%;
                overflow: hidden;
                border: 2px solid white;
                margin: 0 auto;
            }
        }

    }


}

/* About */
#about {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    table {
        margin: 0 auto;
        width: 270px;
    }

    >div {
        margin: 0 auto;
        padding: 16px;
        max-width: 1300px;

        >div {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include mx-width-880 {
                display: block;
            }

            >div {
                width: 50%;

                @include mx-width-880 {
                    width: 100%;
                }

                &:nth-child(2) h3 {
                    text-align: center;
                }

                &:nth-child(1) {
                    @include mx-width-880 {
                        width: 600px;

                        @include mx-width-650 {
                            width: auto;
                        }
                    }
                }
            }
        }
    }


}


/* Portfolio */
#portfolio {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
        width: 100%;
    }

    >div {
        margin: 0 auto;
        padding: 16px;
        width: 1300px;

        >div {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 10px;

            @include mx-width-880 {
                grid-template-columns: 1fr 1fr;
            }

            @include mx-width-580 {
                grid-template-columns: 1fr;
            }

            >div {
                background-color: aqua;
                height: 200px;
                width: auto;
                border: $primary-color solid 1px;
                display: flex;
                align-items: center;
                text-align: center;
            }
        }
    }
}

/* Contact */
#contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;

    h2 {
        border-top: black solid 4px;
        padding-top: 40px;
    }

    >div {
        margin: 0 auto;
        padding: 16px;
        width: 1300px;

        >div {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}