<section id="about">
    <div>
        <h2>About me</h2>
        <div>
            <div>
                <h3>I'm Pablo Vergara, Jr Developer / Student</h3>
                <p>
                    I'm 21 years old and I'm studying Computer Systems Engineering at
                    ITESO. I am currently learning web development to work as a Full
                    Stack Developer while I finish my degree. <br />
                    always seek to improve in the things I do, I like to teach and
                    learn from others, I work well in a team. <br />
                    My hobbies are: spending time with my friends playing board games
                    or video games, cooking and learning new things related to my
                    career.
                </p>
            </div>
            <div>
                <h3>Skills</h3>
                <table>
                    <tr>
                        <th>Lenguages</th>
                        <th>Tools</th>
                    </tr>
                    <tr>
                        <td>- Python</td>
                        <td>- Git/GitHub</td>
                    </tr>
                    <tr>
                        <td>- C</td>
                        <td>- VSC</td>
                    </tr>
                    <tr>
                        <td>- Java</td>
                        <td>- Figma</td>
                    </tr>
                    <tr>
                        <td>- SQL</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>- JavaScript</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>- HTML/CSS</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>