<section id="home">
    <div>
        <div><img src="https://pablove2001.com/assets/profile.c40fe6f0.webp" alt="profile" /></div>
        <div>
            <p>
                Hi!<br /><span><b>I'm Pablo Vergara</b></span><br />Jr Developer
            </p>
        </div>
    </div>
</section>