<section id="portfolio">
    <div>
        <h2>Portfolio</h2>
        <h3>Here you can see the projects I have worked on</h3>
        <div>
            <div>
                <h4>Project 1</h4>
            </div>
            <div>
                <h4>Project 2</h4>
            </div>
            <div>
                <h4>Project 3</h4>
            </div>
            <div>
                <h4>Project 4</h4>
            </div>
            <div>
                <h4>Project 5</h4>
            </div>
            <div>
                <h4>Project 6</h4>
            </div>
        </div>
    </div>
</section>