<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
</head>

<body>


    <div>
        <form action="/" method="get">
            <input id="searchField" type="text" placeholder="Buscar..." name="search">
            <button type="submit">Buscar</button>
        </form>
    </div>

    {{{body}}}

    <script>
        const searchParams = new URLSearchParams(window.location.search);
        const searchQuery = searchParams.get('search');
        if (searchQuery) {
            document.getElementById('searchField').value = searchQuery;
        }
    </script>
</body>

</html>