<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PabloVE</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
</head>

<body>
    <nav>
        <div>
            <div id="logo">
                <a href="#home"><b>PabloVE</b></a>
            </div>
            <ul>
                <li><a href="/contact?token=123">Contact</a></li>
                <li><a href="/portfolio?token=123">Portfolio</a></li>
                <li><a href="/about?token=123">About</a></li>
                <li><a href="/?token=123">Home</a></li>
            </ul>
            <div id="menu">.</div>
        </div>
    </nav>

    {{{body}}}


</body>

</html>